#header {
    height: 30px;
    width: 100%;
    background-color: #bbddff;
}
#footer {
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #336699;
}
body {
    height: 100%;
    margin-bottom: 30px;
    background-color: #ffffff;
    font-family: "Gill Sans", Corbel, Tahoma, sans-serif;
}

ul.errors {
    color: red;
}
